<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Webtech Course Note</title>
  
  
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="style.css">

  
</head>

<body>

  <div id="app">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">{{courseName}}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Tab 1</a></li>
          <li><a href="#">Tab 2</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-8">
		<div v-show="activeLecture.title==''">Lectures</div>
		<div v-show="activeLecture.title!=''">
			<h1>{{ activeLecture.title}}</h1>
			<button class="btn btn-success" @click="completeLecture()">Complete</button>
		</div>
    </div>
    <div class="col-md-4">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#course-lectures" aria-controls="course-lectures" role="tab" data-toggle="tab">Topic({{curriculum.sections.length}})</a></li>
          <li role="presentation"><a href="#course-questions" aria-controls="course-questions" role="tab" data-toggle="tab">Exercises</a></li>
          <li role="presentation"><a href="#course-notes" aria-controls="course-notes" role="tab" data-toggle="tab">About Us</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="course-lectures">

            <span v-show="curriculum.sections.length==0">Bölüm yok!</span>

            <div class="panel panel-default" v-for="(section, sectionIndex) in curriculum.sections">
              <div class="panel-heading">{{ section.title }}</div>
              <div class="list-group">
                <a href="#" class="list-group-item" :class="{ 'list-group-item-success': lecture.isFinished, 'list-group-item-default': !lecture.isFinished }" @click="openLecture(sectionIndex, lectureIndex)" v-for="(lecture, lectureIndex) in lectures(sectionIndex)">
                  <span class="badge">14</span>
                  <i class="fa fa-check" v-show="!lecture.finished"></i> {{ lecture.title }}
                </a>
              </div>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="course-questions">...</div>
          <div role="tabpanel" class="tab-pane" id="course-notes">...</div>
        </div>

      </div>

    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://unpkg.com/vue/dist/vue.js'></script>

  

    <script  src="index.js"></script>




</body>

</html>
